<div id="<%= dom_id list %>">

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
   <%= list.name %>
  </div>
  <p><%= link_to "Show this list", list %></p>
</div>

</div>
